/* Card.css */

.custom-card {
  border: 1px solid #ddd;
  text-align: center;
  padding: 3rem;
  max-width: 400px;
  min-height: 300px;
  margin: 0 auto;
  background-color: #f4f4f4;
}

.custom-card-title {
  font-size: 24px;
  margin: 20px 0;
}

.custom-card-text {
  font-size: 16px;
  margin: 20px 0;
}
